---
import { Container, FeatureCard} from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Open-Source Projects</h2>
			<p>
			We believe open collaboration is <i>the</i> forge to craft the best tools available.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="https://std.divnix.com" title="Standard" imgSrc="/assets/images/home/screenshots/standard">
				</FeatureCard>
				<FeatureCard href="https://digga.divnix.com/" title="Digga" imgSrc="/assets/images/home/screenshots/digga">
				</FeatureCard>
				<FeatureCard href="https://book.divnix.com/ch02-00-introduction.html" title="Nix Book" imgSrc="/assets/images/home/screenshots/book">
				</FeatureCard>
				<FeatureCard
					href="https://github.com/orgs/divnix/repositories"
					title="..."
          imgSrc="/assets/images/home/screenshots/repos"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Members</h2>
			<p>We are thankful for every single one of our callaborators, but this is our humble makeup as an organizational unit.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/nrdxp"
					title="Tim DeHerrera [nrdxp]"
				>
				</FeatureCard>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/blaggacao"
					title="David Arnold [blaggacao]"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
		text-align: center;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
