---
import { Icon } from 'astro-icon';
import { Container, Button } from '@littlesticks/odyssey-theme-components';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
import packageLarge from '../../../../public/assets/images/home/package.svg';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1>Unparalleled Reliability</h1>
				<p>
				It works <del style="color: grey;">on my machine</del> everywhere with Nix.
				</p>
				<div class="hero-btns__container">
					<Button href="/theme/get-started" customIcon
						>Start
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
            </Button
					>
					<Button href="/theme/style-guide" unelevated>Guide</Button>
				</div>
        {settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
		</div>
		<div class="hero-section__image">
				<picture>
					<img class="hero-section__svg"
						src={packageLarge}
						alt="Nix Package"
						id="home-hero-image"
					/>
				</picture>
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 20rem;
		text-align: center;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__svg {
		filter: drop-shadow(8em 4em 3em #2c2c2c);
		transition: all 0.8s ease;
	}
	.hero-section__svg:hover {
		filter: drop-shadow(8em 4em 3em #1e1e1e) hue-rotate(-20deg) saturate(0.2) brightness(120%) saturate(4);
		transition: all 0.8s ease;
	}
	.hero-section__image img {
		width: 500em;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>
